* {box-sizing:border-box}

/* Slideshow container */
.slideshow {
  color: rgb(77, 77, 195);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 50%;
  position: relative;
  min-width: 350px;
  margin: auto;
  background-color: rgb(231, 231, 243);
  padding: 30;
}

/* Hide the images by default */
.character {
  display: none;
  margin: 30px;
}

.photo {
    width: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px 3px 3px 3px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* Position the "prev button" to the left */
.prev {
  left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgb(77, 77, 195);

}

.title {
  font-size: 25px;
  padding: 8px 12px;
  margin: 10;
  width: 100%;
  text-align: center;
}
.license {
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  width: 100%;
  text-align: left;
}
.license:visited {
  color: rgb(77, 77, 195);
}

/* The dots/bullets/indicators */
.dots {
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(203, 203, 230);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: rgb(77, 77, 195);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.input{
  color: rgb(77, 77, 195);
  background-color: rgb(203, 203, 230);
  font-size: 20;
  border-color: rgb(77, 77, 195);
}

.btn {
  color: rgb(77, 77, 195);
  background-color: rgb(203, 203, 230);
  font-size: 20;
  border-radius: 15%;
  border-color: rgb(77, 77, 195);
} 

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}